<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<title>電話帳システム</title>
</head>
<body>
<h1>登録画面</h1>
<span class="msg" th:text="${msg}"></span>
<form method="post" action="/regist">
<div>
<span>名前：</span>
	<input type="text" name="keyword" th:value="${keyword}" />
</div>
<span>電話番号：</span>
	<input type="text" name="phone_number" th:value="${phone_number}"/>
	<input type="submit" value="登録" />
</form>
</body>
</html>