<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<title>電話帳システム</title>
</head>
<body>
<h1>更新画面</h1>
<span class="msg" th:text="${hikitsugiParam}"></span>
<form method="post" action="/updatenew">
	<input type="hidden" name="id" th:value="${id}">
<br>
<span>名前：</span>
	<input type="text" name="name" th:value="${name}" />
<br>
<span>電話番号：</span>
	<input type="text" name="phoneNumber" th:value="${phoneNumber}"/>
	<input type="submit" value="更新" />
</form>
</body>
</html>